@model DuzceUniversitesi_Model.Models.Fakulte
@{
    ViewData["Title"] = "GetirFakulte";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2 class="mt-4">Fakülte Güncelleme</h2>
<hr />
@using (Html.BeginForm("FakulteGuncelle", "AdminPanel", FormMethod.Post))
{
    @Html.LabelFor(x => x.FakulteId)
    @Html.TextBoxFor(x => x.FakulteId, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.FakulteAd)
    @Html.TextBoxFor(x => x.FakulteAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Fakülte Güncelle</button>

}
