<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item"><img src="~/Duzce_Universitesi.jpg" width="100"/></h3>
        <a href="/AdminPanel/Index" class="w3-bar-item w3-button btn-dark">Duyurular</a>
        <a href="/AdminPanel/AkademikPersonelListesi" class="w3-bar-item w3-button btn-dark">Akademik Personeller</a>
        <a href="/AdminPanel/FakulteListesi" class="w3-bar-item w3-button btn-dark">Fakülteler</a>
        <a href="/Home/Index" class="w3-bar-item w3-button btn-info"> Siteye Git</a>
        <a href="/Home/Index" class="w3-bar-item w3-button btn-danger">Çıkış</a>
    </div>


    <div style="margin-left:25%">

        <div class="w3-container w3-teal">
            <h1 style="color:white">Düzce Üniversitesi Admin Paneli</h1>
        </div>

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>
